* {
	padding: 0;
	margin: 0;
}
button {
	float: right;
}
h1 {
	text-align: center;
	background-color: darkblue;
	color: white;
	padding: 20px;
}
nav ul {
	background-color: gray;
	width: 100%;
	list-style: none;
	text-align: center;
}
nav li {
	display: inline-flex;
}
nav li:hover {
	background-color: black;
	display: inline-flex;
}
nav a {
	text-decoration: none;
	color: white;
	padding: 10px;
	width: 150px;
}
img {
	width: 60%;
	height: 60%;
	display: block;
	margin: auto;
}
.Inicio {
	margin: 60px;
}
.Nosotros {
	margin: 60px;
}
.Contacto {
	margin: 60px;
}
input, textarea {
	margin: 15px;
	padding: 10px;
	width: 640px;
	font-size: 14px;
}
textarea {
	min-height: 100px;
	max-height: 200px;
	min-width: 640px;
	max-width: 640px;
}
form {
	width: 700px;
	margin: auto;
	background-color: #8bf;
	font-family: Arial;
}
span {
	padding: 15px;
	font-size: 20px;
}
label {
	padding: 15px;
	text-decoration-style: darkgreen;
	font-size: 20px;
	display: block;
	align: center;
}
h4 {
	padding: 15px;
	font-size: 20px;
	color: red;
}
select {
	margin: 15px;
}
#footer li:hover {
	background-color: black;
	display: inline-flex;
}
#footer li {
	display: inline-flex;
	align-content: center;
}
#footer ul {
	background-color: gray;
	width: 100%;
	list-style: none;
	text-align: center;
}
#footer a {
	text-decoration: none;
	color: white;
}